.body{
    background-color: rgb(22, 23, 24);
    font-family: 'Roboto', sans-serif;
}

.header{
    margin: 0 auto;
    width: 900px;
    margin-bottom: 30px;
    
}
.header__line{
    height: 100px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #aaa;
    
   
}
.header__title{
   display: flex;
   align-items: center;
   font-weight: 700;
   font-size: 40px;
  
    
}

.nav-list__elem{
    list-style-type: none;
    font-size: 20px;
    font-weight: 500;
    
}
.b{
    color: #f8f9fa;;
}
/*
.header__nav-list{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
   
}
*/
.header__nav-list{
    width: 110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding-top: 38px;
   
}


.carousel{
 
}
.carousel__container{
   
}
.slide{
     display: flex;  
     align-items: center;
}
.carousel-inner{
   
}
.carousel__container{
    height: 574px;    
}



.gallery{
    height: 400px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

}
.gallery__block{
    position: relative;
    display: flex;
    flex-direction: column;
  
    width: 200px;
    height: 180px;

    border: 1px solid #f8f9fa;
}
.gallery__block-title{
    position: absolute;
    top: 79%;
    left: 30%;
    width: 100%;
}
.a{
    height: 100%;
}

.img_1{
     position: absolute;    
}
.img{  
    width: 200px;
    height: 130px;
}

.block{
    height: 100px;
    background-color: chartreuse;
    display: flex;
    justify-content: center;
    
}
.block__a{
    width: 100px;
    background-color: cornsilk;
    border: 2px solid #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
  
    
}

.show__ul-title{
     color: #f8f9fa;
    
}
.header__nav-list .show__ul{
    display: none;
    list-style: none;
}
.header__nav-list.open__show .show__ul{
    display: block;
    z-index: 1;
}
